
  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: block;
    align-content: left;
    align-items: center;
    height: 60px;
    text-align: center;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  mat-slider {
    width: 500px;
  }
  .time-section {
    border:0px solid #dedede;
    line-height:50px;
    columns: #666666;
    font-size:60px;
    text-align:center;
    color: rgb(52,76,100);
    font-weight:700px;
  }
  .time2-section {
   
    text-align:center;
    color: rgb(52,76,100);
    font-weight:1000px;
  }
  .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
mat-slider {
    width: 300px;
  }
  .example-h2 {
    margin: 10px;
  }
  
  
  .example-margin {
    margin: 0 10px;
  }

  .lap-section {
    border:0px solid #dedede;
    line-height:20px;
    columns: #666666;
    font-size:20px;
    text-align:center;
    display: block;
    margin-top:100px;
  }
  .card-content{
      width:600px
  }
  
.bus-section{
  background: rgb(110,150,190);
    color:white;
    padding-top: 150px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center!important;
}