<mat-card class="card-content" >
    <mat-card-content >
    <section>
        <mat-card-title class="time-section">{{station}}정류장 도착예정시간</mat-card-title>
        <mat-card-subtitle class="time-section">정류소 고유번호 : 22272</mat-card-subtitle>
    
</section>
<section class="lab-section" >
    
    <h2 class="time-section">첫번째 버스 도착예정 시간 : <span style=" color:salmon">{{firsttime }}</span></h2>
    <h2 class="time-section">두번째 버스 도착예정 시간 : <span style=" color:royalblue">{{secondtime}}</span></h2>
</section>
<section  class = "example-section">
<div class="example-button-row">
    <button mat-raised-button  (click)="getBusInfo()" >버스정보확인</button>
</div>
</section>
        
    </mat-card-content>
</mat-card>
