
<mat-card class="car-section">
    <mat-card-content>
        <h2 class ="example-h2">CAR INFO</h2>

        <section class = "example-section">
            <label class="title">Brand:</label>
            <mat-radio-group (change)="changeSelect($event)" [(ngModel)]="brand">
                <mat-radio-button class="example-margin" value = 'hyundai'>Hyundai</mat-radio-button>
                <mat-radio-button class="example-margin" value = 'kia'>Kia</mat-radio-button>
                <mat-radio-button class="example-margin" value = 'chevrolet'>Chevrolet</mat-radio-button>
            </mat-radio-group>
        </section>

        <section class = "example-section">
            <div style="display:inline-block;">
                <label class="title">Car:</label>
            </div>
            
            <div style="display:inline-block;" *ngIf = "brand === 'hyundai'" >
                <mat-radio-group (change)="changeSelect($event)"[(ngModel)]="car">
                    <mat-radio-button class="example-margin" value = 'accent'>Accent</mat-radio-button>
                    <mat-radio-button class="example-margin" value = 'avante'>Avante</mat-radio-button>
                    <mat-radio-button class="example-margin" value = 'sonata'>Sonata</mat-radio-button>
                    <mat-radio-button class="example-margin" value = 'grandeur'>Grandeur</mat-radio-button>
                </mat-radio-group>
            </div>
            <div style="display:inline-block;" *ngIf = "brand === 'kia'">
                <mat-radio-group (change)="changeSelect($event)" [(ngModel)]="car">
                    <mat-radio-button class="example-margin" value = 'K3'>K3</mat-radio-button>
                    <mat-radio-button class="example-margin" value = 'K5'>K5</mat-radio-button>
                    <mat-radio-button class="example-margin" value = 'K7'>K7</mat-radio-button>
                    <mat-radio-button class="example-margin" value = 'K9'>K9</mat-radio-button>
                </mat-radio-group>
            </div>
            <div style="display:inline-block;" *ngIf = "brand === 'chevrolet'">
                <mat-radio-group (change)="changeSelect($event)" [(ngModel)]="car">
                <mat-radio-button class="example-margin" value = 'spark'>Spark</mat-radio-button>
                <mat-radio-button class="example-margin" value = 'cruze'>Cruze</mat-radio-button>
                <mat-radio-button class="example-margin" value = 'malibu'>Malibu</mat-radio-button>
                <mat-radio-button class="example-margin" value = 'camaro'>Camaro</mat-radio-button>
            </mat-radio-group>
            </div>
            
        </section>

        <section class = "example-section">
            <label class="title">Color:</label>
            <mat-radio-group (change)="changeSelect($event)" [(ngModel)]="color">
                <mat-radio-button class="example-margin" value = 'black'>Black</mat-radio-button>
                <mat-radio-button class="example-margin" value = 'white'>White</mat-radio-button>
                <mat-radio-button class="example-margin" value = 'gray'>Gray</mat-radio-button>
                <mat-radio-button class="example-margin" value = 'blule'>Blue</mat-radio-button>
            </mat-radio-group>
        </section>

        <section class = "example-section">
            <label class="title">Distance</label>
            <mat-slider (slideend)="sliderOnChange(value)"
            (pointerup)="sliderOnChange(value)" class="example-margin" min="0" max="100000" step="100" [(ngModel)]="value"></mat-slider>
        </section>

    </mat-card-content>
    <mat-card-content>
        <h2 class ="example-h2">RESULT</h2>
        <div style="text-align:center;">
            <div style="display:inline-block">
                <img [src]=imageUrl width='600px'>
            </div>
            <div style="margin-left:30px;display:inline-block;">
                <div style="display:inline-block;">
                    <mat-progress-spinner
                    class="example-margin"
                    [color]="color"
                    [value]="calvalue">
                </mat-progress-spinner>
                </div>
                <div style="display:inline-block;">
                    <h2 clss = "example-h2">{{calvalue}}%</h2>    
                    <h2 clss = "example-h2">{{value}}KM</h2>
                </div>
            </div>
        </div>
        
        
        
        
    </mat-card-content>
</mat-card>
