

<mat-tab-group animationDuration="0ms">
  <mat-tab label="스톱워치">
    <ng-template matTabContent>
        <app-menu3></app-menu3>
    </ng-template>
  </mat-tab>
  <mat-tab label="세계시간" >
    <ng-template matTabContent>
        <app-menu1 ></app-menu1>
    </ng-template>
</mat-tab>
<mat-tab label="자동차 선택">
    <ng-template matTabContent>
        <app-menu2 ></app-menu2>
    </ng-template>
</mat-tab>
<mat-tab label="버스도착정보">
  <ng-template matTabContent>
      <app-menu4></app-menu4>
  </ng-template>
</mat-tab>
<mat-tab label="미세먼지정보">
  <ng-template matTabContent>
      <app-menu5></app-menu5>
  </ng-template>
</mat-tab>
<mat-tab label="팝업연습">
  <ng-template matTabContent>
      <app-menu6></app-menu6>
  </ng-template>
</mat-tab>
<mat-tab label="부트스트랩">
  <ng-template matTabContent>
      <app-menu7></app-menu7>
  </ng-template>
</mat-tab>
</mat-tab-group>